<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<!--style import-->
    <link href="/loam/style.css" rel="stylesheet" type="text/css" media="all">
	
	<!--page title-->
    <title>Template</title>
	
  </head>


  <body>
<header>
    <a href="/index.html" class="no-underline">
        The Prophet's Compendium <br>
        <span style="font-size: 0.4em; font-family: special elite ">(A collection of knowledge from the Realm of Loam Morath.)</span>
    </a>
</header>
  <div class="container">
    
		<!--sidebar-->
		<sidebar>
        <div id="links">
        <script src="/loam/scripts/links.js"></script>
        </div>
		</sidebar>

   	<main>
		
	<!--breadcrumps-->
     <p class="breadcrumb">...In <a href="">One</a>, <a href="">Two</a> </p>

	<!--table-->
		<table class="infotable">
			<!--Main heading-->
			<tbody><tr><th colspan="2" id="centertext" style="text-align:center; font-size: 19px;">Text</th></tr>
			<!--image-->
			<tr><th colspan="2" style="text-align: center;"><p><img src="Image"></p></th></tr>
			<!--image caption-->
			<tr><td colspan="2" style="text-align: center"><i>Caption</i></td></tr>
			<!--Heading-->
			<tr><th colspan="2" id="centertext">Heading</th></tr>
			<!--Row-->
			<tr>
				<th>Title</th>
				<td>Right</td>
			</tr>
			<!--Row with list-->
			<tr>
				<th>Title</th>
  				<td><ul>
					<li>Right</li>
    				<li>Right<sup>1</sup></li>
  					</ul>
				</td>
			</tr>
		</tbody></table>

	<!--normal dropdown-->
	  <details><summary>Normal dropdown</summary>Here is text</details>
	<br>

	<!--fancy show content-->
	<div class="toc">
		<details class="contents"><summary class="showcontent">Show Content</summary>
 			Here is text
		</details>
	</div>

	<!--quote-->
	<div class="quotebox">
		This is a quote box
	</div>
	<br>
	
	<!--spoilers-->
	<div class="notice">
		This is a quote box
	</div>

		</main>
		
	<footer>
		<p><a href="#top">Back to Top</a></p>
	</footer>
		
	
  
  </body>
</html>