<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<!--style import-->
    <link href="/loam/style.css" rel="stylesheet" type="text/css" media="all">
	
	<!--page title-->
    <title>Template</title>
	
  </head>


  <body>
<header>
    <a href="/index.html" class="no-underline">
        The Prophet's Compendium <br>
        <span style="font-size: 0.4em; font-family: special elite ">(A collection of knowledge from the Realm of Loam Morath.)</span>
    </a>
</header>
  <div class="container">
    
		<!--sidebar-->
		<sidebar>
			
        <div id="links">
        <script src="/loam/scripts/links.js"></script>
        </div>
				
		</sidebar><!--end of sidebar-->

    
   
	
   	<main>

	<script src="/loam/scripts/collection.js"></script>
<div class="buttonbox">
	<button onclick="colors('pink')">pink</button>
	<button onclick="colors('red')">red</button >
	<button onclick="colors('orange')">orange</button>
	<button onclick="colors('yellow')">yellow</button>
	<button onclick="colors('green')">green</button>
	<button onclick="colors('blue')">blue</button>
	<button onclick="colors('purple')">purple</button>
<button onclick="colors('all')">all</button>
</div>

 <!-- Trigger the Modal -->
  <div class="myimgbox">
  <img class="all pink modal-trigger " src="https://cdn.mos.cms.futurecdn.net/KHQb3Ny62YxXnCEon4mm43.jpg" alt="Pink Image">
  <img class="all red pink blue modal-trigger" src="https://cdn.mos.cms.futurecdn.net/KHQb3Ny62YxXnCEon4mm43.jpg" alt="Red Pink Blue Image">
  <img class="all yellow blue modal-trigger" src="https://cdn.mos.cms.futurecdn.net/KHQb3Ny62YxXnCEon4mm43.jpg" alt="Yellow Blue Image">
  <img class="all purple modal-trigger" src="https://cdn.mos.cms.futurecdn.net/KHQb3Ny62YxXnCEon4mm43.jpg" alt="Purple Image">
  <img class="all blue green modal-trigger" src="https://cdn.mos.cms.futurecdn.net/KHQb3Ny62YxXnCEon4mm43.jpg" alt="Blue Green Image">
  <img class="all green modal-trigger" src="https://cdn.mos.cms.futurecdn.net/KHQb3Ny62YxXnCEon4mm43.jpg" alt="Green Image">
</div>
<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- The Close Button -->
  <span class="close">&times;</span>

  <!-- Modal Content (The Image) -->
  <img class="modal-content" id="img01">

  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>
</div> 

	</main>
		
	<footer>
		<p><a href="#top">Back to Top</a></p>
	</footer>
		
	</div>
  				<script src="/loam/scripts/modal.js"></script>

  </body>
</html>